@font-face {
    font-family:"Liber-Italic";
    src: url("../fonts/LibertinusSans-Italic.ttf");
}

@font-face {
    font-family:"Liber-Regular";
    src: url("../fonts/LibertinusSans-Regular.ttf");
}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}

/* -----VARIEBLS----- */

@property --angle{
    syntax:"<angle>";
    initial-value:0deg;
    inherits:false;
}

:root{
    --black:#131515;
    --backColor:#262525;
    --yellow:#f8f839;
    --shadow_pink:#f22ece;
}

/* ------ANIMATIONS------ */

@keyframes buttonAnime{
    from{
        --angle:0deg;;
    }to{
        --angle:360deg;
    }
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--backColor);
    padding:10px;
}

/* --------------HEADER-------------- */
#header{
    display:flex;
    justify-content:center;
    align-items:center;
    width:900px;
    height:80px;
    border:1px solid var(--yellow);
    background-color:var(--black);    
}

#header > .title{
    font-family: "Liber-Italic",sans-serif;
    text-shadow:2px 2px var(--shadow_pink);
    word-spacing:25px;
    font-size:40px;
    color:var(--yellow);
}

/*-------------MAIN--------- */
#main{
    width:900px;
    min-height:500px;
    border:1px dashed var(--yellow);
    border-top:none;
    border-bottom:none;
    padding:10px;
    background-color: var(--black);
    z-index:1;
}

button{
    position: relative;
    width:120px;
    border:none;
    border-radius:20px;
    background: var(--backColor);
    color:var(--yellow); 
    cursor: pointer;
}

button::after,
button::before{
    content:"";
    position: absolute;
    background:conic-gradient(from var(--angle),transparent 20%,var(--yellow));
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:20px;
    z-index:-1;
    padding:2px;
    opacity: 0;
}

button::before{
    filter: blur(2px);
}

button:hover::after,
button:hover::before{
    opacity: 1;
    animation:buttonAnime 2.5s infinite ease-in; 
}

/*----USER DATA---- */
#main > .user_data{
    display:flex;
    justify-content:center;
    width:100%;
    gap:14px;
}

#main > .user_data > .add_task{
    all:unset;
    padding-left:4px;
    width: 180px;
    height:25px;
    border: 1px solid var(--yellow);
    color:var(--shadow_pink)
}

#main > .user_data > .add_task::placeholder{
    color:var(--shadow_pink);
    font-family:"Liber-Regular",sans-serif;
    opacity:0.9;
}

/* ----LIST---- */
#main > .list{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(auto-fill,80px);
    justify-items:center;
    align-items:center;
    row-gap:20px;
    margin-top:15px; 
    width:100%;
    min-height:450px;        
}

#main > .list > .item{
    display:grid;
    grid-template-columns:30px 310px 80px;
    grid-template-rows:50px 20px; 
    grid-template-areas:
        "check task btn"
        ". date .";
    justify-items:center;
    align-items:center;
    width:420px;
    height:70px;
    border:1px solid var(--yellow);
}

#main > .list > .item > .check{
    cursor: pointer;
    width:20px;
    height:20px;
    grid-area:check;
}

#main > .list > .item > .text{
    font-family: "Liber-Regular", sans-serif;
    color:var(--yellow);
    font-size:22px;
    grid-area:task;
    justify-self:start;
}

#main > .list > .item > .remove{
    height:25px;
    width:60px;
    grid-area:btn;
}

#main > .list > .item > .date_text{
    width:250px;
    height:20px;
    color:var(--yellow);
    grid-area:date;
}

/*-------------FOOTER--------- */
#footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:900px;
    height:60px;
    border:1px solid var(--yellow);
    background-color:var(--black);
}

#footer > .completed{
    letter-spacing:1px;
    font-size:20px;
    color:var(--yellow);
    margin-left:90px;
}