@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');

*{
    padding: 0;
    margin: 0;  
}

:root{
    --black:black;
    --yellow:yellow;
    --shadow_pink:rgb(242, 46, 206);
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
}
/* --------------HEADER-------------- */
#header{
    display:flex;
    justify-content:center;
    align-items:center;
    width:1000px;
    height:80px;
    margin-top:8px;
    font-style: italic;
    border:3px solid var(--yellow);
    background-color:var(--black);    
}

#header > .title{
    font-family: "Libertinus Serif Display", system-ui;
    text-shadow:2px 2px var(--shadow_pink);
    word-spacing:25px;
    font-size:40px;
    color:var(--yellow);
}

/*-------------MAIN--------- */
#main{
    width:1000px;
    min-height:500px;
    border:3px dashed var(--black);
    border-top:none;
    border-bottom:none;
}

/*----USER DATA---- */
#main > .user_data{
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:8px;
}

#main > .user_data > .add_task{
    padding-left:4px;
    width: 180px;
    height:25px;
    border: 1px dotted var(--black);
    margin:0px 4px;
}

#main > .user_data > .btns{
    width:120px;
    border:none;
    border-radius:20px;
    background:linear-gradient(60deg,black,gray);
    color:var(--yellow);
    margin:0px 4px; 
    cursor: pointer;
    transition:0.5s;
}

/* ----LIST---- */
#main > .list{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(auto-fill,80px);
    justify-items:center;
    align-items:center;
    margin-top:15px; 
    width:100%;
    min-height:450px;        
}

#main > .list > .item{
    display:grid;
    grid-template-columns:60px 310px 80px;
    grid-template-rows:1fr; 
    grid-template-areas:"check task btn";
    justify-items:center;
    align-items:center;
    width:450px;
    height:50px;
    border:1px solid var(--black);
}

#main > .list > .item > .check{
    cursor: pointer;
    width:25px;
    height:25px;
    grid-area:check;
}

#main > .list > .item > .text{
    font-family: "Libertinus Serif Display", system-ui;
    letter-spacing:1px;
    word-spacing:3px;
    font-size:22px;
    grid-area:task;
    justify-self:start;
}

#main > .list > .item > .remove{
    color:var(--yellow);
    background:linear-gradient(60deg,black,gray);
    height:25px;
    width:60px;
    cursor: pointer;
    border:none;
    border-radius:20px;
    transition:0.5s;
    grid-area:btn;
}

button:hover{
    opacity:0.8;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:1000px;
    height:60px;
    border:3px solid var(--yellow);
    background-color:var(--black);
}

#footer > .completed{
    letter-spacing:1px;
    font-size:20px;
    color:var(--yellow);
    margin-left:90px;
}